<!-- Модальне вікно "About" -->
<div class="modal">
    <div class="modal-body">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <img src="../img/controller.svg" alt="" class="game-cover">
            <h2>GameVault</h2>
            <br>
            <p>We are a team of passionate developers who love games and strive to make them accessible to everyone. Our store offers a wide selection of video games for various platforms, carefully curated with our users in mind.</p>
            <br>
            <p>Our goal is to create a convenient and reliable place to purchase top-quality games at affordable prices. We believe in quality service and ensure that every customer finds a game they enjoy.</p>            <br>
            <h3>Contact Us</h3>
            <p>Have questions? Email us at <a style="color: var(--accent-color); text-decoration: underline;" href="mailto:support@gamevault.com">support@gamevault.com</a> or find us on social media:</p>
            <br>
            <p>
                <a href="#" target="_blank">Facebook</a> | 
                <a href="#" target="_blank">Twitter</a> | 
                <a href="#" target="_blank">Instagram</a>
            </p>
        </div>
    </div>
</div>