<div class="container footer-container">
  <div class="conection">
    <div class="footer-svg-logo">
      <a class="footer-jacht" href="#">
        <!-- Збільшена іконка контролера -->
        <img class="jacht-icon" src="./logos/controller.png" width="48" height="54" alt="GameVault Icon">
      </a>
      <a class="footer-logo" href="#">GameVault</a>
    </div>
    <div class="footer-block">
      <ul class="footer-block-menu">
        <li class="footer-about">
          <a class="footer-menu" href="#about">ABOUT</a>
        </li>
        <li class="footer-about">
          <a class="footer-menu" href="#games-section">games</a>
        </li>
        <li><a class="footer-menu" href="#reviews-section">REVIEWS</a></li>
      </ul>
    </div>
    <div class="footer-block">
      <p class="footer-social-networks">WE IN SOCIAL</p>
      <ul class="footer-social-media">
        <li>
          <a class="footer-social-link" href="#" target="_blank">
            <img src="./logos/youtube.png" alt="YouTube" class="social-icon">
          </a>
        </li>
        <li>
          <a class="footer-social-link" href="#" target="_blank">
            <img src="./logos/whatsapp.png" alt="WhatsApp" class="social-icon">
          </a>
        </li>
        <li>
          <a class="footer-social-link" href="#" target="_blank">
            <img src="./logos/facebook.png" alt="Facebook" class="social-icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="footer-year">
    <li class="footer-text">2024. GameVault</li>
    <li class="footer-text">Privacy Policy</li>
  </ul>
</div>
