<div class="header-left logo-box">
    <a href="./index.html" class="header-logo-link">
        <img class="icon-logo" src="./img/controller.svg" alt="Logo" class="icon-logo">
        <span class="logo-text">GameVault</span>
    </a>
</div>

<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-list-home-item">
            <a href="./index.html" class="home">HOME</a>
        </li>
        <li class="nav-list-shopping-item">
            <a href="./shopping-list.html" class="shopping-list">SHOPPING LIST</a>
        </li>
        <li>
            <img src="../img/hamburger.svg" alt="Hamburger" class="hamburger-image">
        </li>
    </ul>
</nav>

<!-- Підключення JavaScript файлу -->
<script type="module" defer src="./js/header.js"></script>
