<div class="header-left logo-box">
    <a href="./index.html" class="header-logo-link">
        <img class="icon-logo" src="./img/controller.svg" alt="Logo" class="icon-logo">
        <span class="logo-text">GameVault</span>
    </a>
</div>

<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-list-home-item">
            <a href="./index.html" class="home">HOME</a>
        </li>
        <li class="nav-list-shopping-item">
            <a href="./shopping-list.html" class="shopping-list">SHOPPING LIST
                <svg class="icon-shopping-list" width="14" height="20">
                    <use href="./img/sprite.svg#icon-shoping-list"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>

<!-- Підключення JavaScript файлу -->
<script src="./js/header.js"></script>