<div class="header-left logo-box">
    <a href="./index.html" class="header-logo-link">
        <img class="icon-logo" src="./img/controller.svg" alt="Logo" class="icon-logo">
        <span class="logo-text">GameVault</span>
    </a>
</div>

<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-list-home-item">
            <a href="./index.html" class="home">HOME</a>
            <a href="./index.html"><img
                    src="https://raw.githubusercontent.com/MfD0/ProjectGGG/f4e9d92ff9e55f08335b801687d28b4ec653bce8/src/img/home.svg"
                    alt="Home" class="home-image"></a>
        </li>
        <li class="nav-list-shopping-item">
            <a href="/shopping-list.html" class="shopping-list">SHOPPING LIST</a>
            <a href="/shopping-list.html"><img
                    src="https://raw.githubusercontent.com/MfD0/ProjectGGG/f4e9d92ff9e55f08335b801687d28b4ec653bce8/src/img/empty-cart.svg"
                    alt="Shopping List" class="shopping-list-image"></a>
        </li>
        <li class="nav-list-auth-item">
            <a href="#" id="authLink" class="auth">LOGIN</a>
            <a href="#" id="authImage"><img src="./img/login.svg" alt="Login" class="auth-image"></a>
        </li>
        <li>
            <img src="https://raw.githubusercontent.com/MfD0/ProjectGGG/f4e9d92ff9e55f08335b801687d28b4ec653bce8/src/img/hamburger.svg"
                alt="Hamburger Menu" class="hamburger-image">
        </li>
    </ul>
</nav>

<!-- Підключення JavaScript файлу -->
<script type="module" defer src="./js/header.js"></script>