<!-- Модальне вікно -->
<div id="gameModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2 id="modalTitle"></h2>
        <p id="modalAuthor"></p>
        <img id="modalImage" src="" alt="" class="modal-image">
        <p id="modalDescription"></p>
        <div class="modal-links">
            <a id="modalSteamLink" href="" target="_blank">View on Steam</a>
            <a id="modalTrailerLink" href="" target="_blank">Watch Trailer</a>
        </div>
    </div>
</div>